build/
dist/
out/
overlay/target/
overlay/*-out/
overlay/target-new/
overlay/hud/target/
web-preview/target/
target/
*.user
*.user
*.suo
*.sdf
*.opensdf
.vs/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
announce-shots/*
